[user]
	name = fazaimron27
	email = cincaumyself@gmail.com
	signingkey = 8E7C91D759FAB225
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[commit]
	gpgsign = true
